body {
    padding: 0;
    margin: 0;
    background-color: gray;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container.expanded {
    flex-direction: column;
}

.child {
    flex: 1;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid #000;
    background-color: wheat;
    margin: 20px;
}

.animatable {
    transition: transform 500ms ease-in-out;
}
