:root {
    --animation-speed: 50ms;
    --easing: ease;
}

body {
    padding: 0;
    margin: 0;
    background-color: gray;
}

body > div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    background-color: #f18484;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.card img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.card h1,
.card p {
    display: inline-block;
}

.card.expanded {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card.expanded img {
    max-width: 60%;
}
